.App {
  text-align: center;
}

.header {
  background-color: #8b8d91;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-input {
    width: 100%;
    border: 3px solid;
    font-size: calc(10px + 2vmin);
}

.todo-item {
  background: lightgrey;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
}

.todo-icon {
  margin: 10px;
  cursor: pointer
}
